.team {
    --fontSize: calc(.9em + 2vmin);
    background: #fff;
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-content: center;
    justify-self: stretch;
    grid-gap: 1vmin;
    overflow: hidden;
}

.team h2 {
    font-size: var(--fontSize);
    max-height: 5em;
    overflow: hidden;
    margin: 0;
}

.team button {
    font-size: .4em;
    background: none;
    /* border:  1px solid var(--lightGray); */
    border-radius: 4px;
    width: auto;
}

.team .score {
    font-size: calc(1.2em + 3vmin);
    margin: 0;
    font-weight: bold;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.team .score .prepend {
    font-size: 80%;
    margin-right: .2em;
}

.team input[type=text] {
    font-size: var(--fontSize);
    font-weight: bold;
    width: 100%;
    display: block;
    margin: 0 0 .3em 0;
    text-align: center;
}

.team .scoreButton {
    grid-column: span 1;
    padding: 1vmin;
    font-size: calc(1em + 1vmin);
}

.smacks {
    display: flex;
    justify-content: space-between;
    line-height: 4em;
    font-size: 1.5rem;
}

.team .scoreButton.zero-out {
    grid-column: 2 / -1;
}

.nameChangeBtn {
    display: none;
}

@media (min-width: 768px) {
    .team {
        grid-template-columns: 1fr 1fr;
    }
    .team > div, .team > input, .team > p, .team > button {
        grid-column: span 2;
    }
    .team .score {
        grid-column: auto;
        grid-row: auto;
        grid-column: span 2;
        padding: .5em 0;
    }
    .team h2 {
        margin: 0 0 .5em;
    }
    .team .scoreButton.zero-out {
        grid-column: span 2;
    }
    .nameChangeBtn {
        display: initial;
    }
}