#scoreboard {
    transition: filter .3s ease-in-out, transform .3s ease-in-out;
    margin-top: var(--headerHeight);
    transform-origin: center;
    background: var(--lightBlue);
    min-height: calc(100vh - var(--headerHeight));
}

.teams {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    list-style-type: none;
    justify-content: center;
    padding: 2rem;
    min-height: calc(100vh - var(--headerHeight));
}

@media (min-width: 768px) {
    .teams {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}