*, *:before, *:after {
  box-sizing: border-box;
  color: inherit;
}

:root {
  --yellow: #ffd100;
  --orange: #ff6a13;
  --lightGray: #a7a8aa;
  --midGray: #888b8d;
  --darkGray: #53565a;
  --black: #101820;
  --lightBlue: #7ba7bc;
  --darkBlue: #34657f;

  --headerHeight: 80px;
}

*:focus {
  outline: 2px dashed var(--orange);
  outline-offset: 2px;
}

body {
  background: var(--lightBlue);
  font-family: 'Rubik', sans-serif;
  color: var(--black);
}

body, input, button {
    font-family: 'Rubik', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #34657F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
